<mat-toolbar color="primary">
  <span>
    <button mat-button routerLink="/" routerLinkActive="active">
      <mat-icon class="attt-logo">home</mat-icon> ATTT
    </button>
    <button mat-button routerLink="/torrents" routerLinkActive="active">TORRENTS</button>
  </span>
  <!-- This fills the remaining space of the current row -->
  <span class="space-filler"></span>
</mat-toolbar>
<section class="mat-typography">
  <div class="body-wrapper">
    <h1>{{getTitle()}}</h1>
    <div class="body-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
