.alert-messages {
  width: 300px;
  position: fixed;
  top: 10%;
  right: 2%;
  z-index: 1000;
}

.message-info{
  color: #31708f;
  background-color: #d9edf7;
}

.message-success{
  color: #3c763d;
  background-color: #dff0d8;
}

.message-error{
  color: #a94442;
  background-color: #f2dede;
}

.message-warn{
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.close-button {
  position: absolute;
  top: 18%;
  right: 1em;
}
.message-content {
  padding-right: 1em;
}


