@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  flex-direction: column;
  width: 80%;
  padding: 80px 32px 0;
  min-width: 1024px;
  max-width: 1164px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.space-filler {
  flex: 1 1 auto;
}

.toolbar-icon {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle
}
